
/* css */


h1 {
font-family:'Zen Antique Soft', serif;
  text-align: center;
}

body {
  background-color: RGB(242,224,197);
}

button {
  position: relative;
  background-color: #7393B3;
  width: 150px;
  height: 40px;
  font-family: 'American Typewriter' cursive;
  color: white;
}

.center {
text-align: center;
}

 #quoteDisplay {
   font-family:
   'American Typewriter';
   text-align: center;
   font-size: 25px;
 }

 .fix{
    position:fixed;
    bottom:0px;
}

 .round {
   border-radius: 25px;
 }
