
/* css */


h1 {
  font-family:
  'American Typewriter';
  text-align: center;
}

body {
  background-color: RGB(242,224,197);
}

 .butt {
 background-color: 006400;
 width: 150px;
 height: 40px;
 font-family: 'American Typewriter' cursive;
}

button {
  position: relative;
}

.center {
text-align: center;
}

 #quoteDisplay {
   font-family:
   'Lucida Handwriting';
   text-align: center;
 }

 .fix{
    position:fixed;
    bottom:0px;
}

 .typewriter {
   font-family: 'American Typewriter';
 }

 .round {
   border-radius: 25px;
 }
